<template name="project">
	<div class="panel panel-success">
		<div class="panel-heading">
			<a href="{{pathFor 'editFile' filename='index.html'}}" class="link-project-editor">{{name}}</a>
			{{#if thisIsMyProject}}
				<button type="button" class="close btn-delete-project" data-toggle="tooltip" data-placement="top" title="Delete this project"><span aria-hidden="true">&times;</span></button>
			{{/if}}
			{{#if myProjectIsPublic}}
				<button type="button" class="btn btn-success btn-xs btn-show pull-right" data-toggle="tooltip" data-placement="top" title="Open preview">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span> 		
				</button>
			{{/if}}
		</div>
		<div class="panel-body">
			<div class="description"> {{description}}</div>
			<div class="editorsPictures pull-right">
			{{#each projectEditors}}
				<img src="{{editorsPictures}}" title="{{editorName}}" class="img-circle editors-pictures ">
			{{/each}}
			</div>
		</div>
  	</div>
</template>